*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container2{
    /* border: 2px solid red; */
    /* height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 40px;
}
.tasklist-border{
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgb(83, 83, 83) 0px 1px 4px ;
    padding: 30px;
    margin-top: 30px;
    background-color: white;
}
.tasklist-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.tasklist-header>h3{
    font-weight: 700;
}
.togglebtn{
    background: blue;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: rgb(204, 204, 204) 1px 1px 2px ;
}
.completed{
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgb(101, 248, 82) 1px 1px 4px ;
    margin-bottom: 20px;
}
.incompleted{
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: red 1px 1px 4px;
    margin-bottom: 20px;
}
.delete{
    background:red;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: rgb(204, 204, 204) 1px 1px 2px ;
}


.addtask{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.addtask form{
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgb(83, 83, 83) 0px 1px 4px ;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#task{
    width: 50%;
    padding: 20px;
}
#select{
    padding: 20px;
    border-radius: 10px;
}

.reset2{
    padding: 15px;
    background-color: red;
    color: white;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    box-shadow: rgb(83, 83, 83) 0px 1px 4px ;
}
.addtask2{
    padding: 15px;
    background-color: green;
    color: white;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    box-shadow: rgb(83, 83, 83) 0px 1px 4px ;

}


@media(max-width:700px) {
    .addtask form{
        border: 1px solid rgb(231, 231, 231);
        box-shadow: rgb(83, 83, 83) 0px 1px 4px ;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
    #task{
        width: 95%;
        padding: 20px;
    }
}